// Place all the styles related to the time_tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#calendar {
  width: 80%;
  height: 80%;
  position: absolute;
  padding-left: 10em;
  padding-top: 4em;
  padding-bottom: 10em;
}